
    <h1> Reclamation : </h1>
    <!--<input type="text" name="find" class="form-horizontal style-forms" name="find"><input type="submit" value="search">-->

    <BR>

        <h4>Service :    {{ reclamation.service }} </h4>
    <BR>
        <h4> Num :     {{ reclamation.num }} </h4>
    <BR>
        <h4>Email :      {{ reclamation.mail }} </h4>
    <BR>
        <h4>Sujet :    {{ reclamation.sujet }} </h4>





    <BR>
    <div class="col-12">
        <center><img src="{{ qr_code_data_uri('My QR Code') }}" /> </center>
    </div>











