<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | User Profile</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/BackTemplate/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/BackTemplate/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/back" class="nav-link">Home</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/home" class="nav-link">Go to Front</a>
            </li>
        </ul>

        <!-- Right navbar links -->
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/back" class="brand-link">
            <span class="brand-dark font-weight-center"> Team Ulticom</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="/img_11.png" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <b>  {{ app.user.nom }}	 {{ app.user.prenom }}		 </b>
                </div>
            </div>

            <!-- SidebarSearch Form -->

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Play
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">

                            <li class="nav-item">
                                <a href="/admin/jeu" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>jeux</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/tournois/" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Tournois</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/equipe" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Equipe</p>
                                </a>
                            </li>



                            <li class="nav-item">
                                <a href="/admin/category/" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Categories</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/afficheuser" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Utilisateurs
                                <span class="right badge badge-danger">New</span>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/actualite/back" class="nav-link">
                            <i class="nav-icon fas fa-copy"></i>
                            <p>
                                Actualites
                                <i class="fas fa-angle-left right"></i>
                                <span class="badge badge-info right">2</span>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/actualite/back" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Actualites</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/categorie/back" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Categories</p>
                                </a>
                            </li>


                        </ul>
                    </li>


                    <li class="nav-item">
                        <a href="/affichereclamation" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>
                                Reclamations

                            </p>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-table"></i>
                            <p>
                                Tables
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="../tables/simple.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Simple Tables</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="../tables/data.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>DataTables</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="../tables/jsgrid.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>jsGrid</p>
                                </a>
                            </li>
                        </ul>
                    </li>


                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container">
           <div class="row">
               <div class="form-group m-form__group">
                   <div class="widget widget_search">

                   </div>
                   <br>
                <div class="m-section">
                    <div class="m-section__content">
                        <table class="table m-table m-table--head-bg-success">
                            <thead>


                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Service
                                </th>
                                <th>
                                    Numero
                                </th>

                                <th>
                                    Email
                                </th>
                                <th>
                                    Sujet
                                </th>
                                <th>
                                    Statut

                                </th>



                            </tr>
                            </thead>

                            {% for r in reclamation %}
                            <tbody>
                            <td>

                                {{ r.id }}
                            </td>
                            <td>
                                {{ r.service }}
                            </td>
                            <td>
                                {{ r.num }}
                            </td>
                            <td>
                                {{ r.mail }}
                            </td>
                            <td>
                                {{ r.sujet }}
                            </td>
                            <td>
                                {{ r.statut }}
                            </td>

                            <td>

                                <a href="{{ path('s',{'id':r.id}) }}">
                                    <img src="{{ asset('delete2.png') }}" height="40" width="40">

                                </a>
                            </td>
                            <td>
                                <a href="{{ path('mail',{'id':r.id}) }}">
                                    <img src="{{ asset('img_6.png') }}" height="40" width="40">

                                </a>
                            </td>
                            <td>
                                <a href="{{ path('pdf',{'id':r.id}) }}">
                                    <img src="{{ asset('img_5.png') }}" height="40" width="40">

                                </a>

                            </td>



                            {% endfor %}
                            </tbody>
                        </table>

                    </div>


                    <button type="button" class="btn btn-danger" >
                    <a href="back">
                        Retour
                    </a>
                     </button>


                </div>

                </div>
            </div>


        </div>
        <!-- /content-panel -->
    </div>
    <!-- /col-md-12 -->
</div>
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.2.0
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/BackTemplate/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/BackTemplate/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/BackTemplate/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/BackTemplate/dist/js/demo.js"></script>
</body>
</html>
