{% extends 'back.html.twig' %}

{% block title %}Liste des tournois{% endblock %}

{% block content %}
    <h1>Tournois index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Prize</th>
                <th>Max_equipes</th>
                <th>Lieu</th>
                <th>Jeu</th>
                <th>Afficher</th>
                <th>Modifier</th>
                <th>Imprimer</th>

            </tr>
        </thead>
        <tbody>
        {% for tournoi in tournois %}
            <tr>
                <td>{{ tournoi.id }}</td>
                <td>{{ tournoi.Date ? tournoi.Date|date('Y-m-d') : '' }}</td>
                <td>{{ tournoi.Prize }}</td>
                <td>{{ tournoi.maxEquipes }}</td>
                <td>{{ tournoi.Lieu }}</td>
                <td>{{ tournoi.idJeu.nom }}</td>


                <td>
                    <a href="{{ path('tournois_show', {'id': tournoi.id}) }}">show</a>

                </td>
                <td>
                    <a href="{{ path('tournois_edit', {'id': tournoi.id}) }}">edit</a>

                </td>
                <td>
                    <a href="{{ path('tournois_pdf', {'id': tournoi.id}) }}">PDF</a>

                </td>


            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tournois_new') }}">Create new</a>
    {{ knp_pagination_render(tournois) }}
{% endblock %}
