<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AdminLTE 3 | User Profile</title>

	<!-- Google Font: Source Sans Pro -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="/BackTemplate/plugins/fontawesome-free/css/all.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="/BackTemplate/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
	<!-- Navbar -->
	<nav class="main-header navbar navbar-expand navbar-white navbar-light">
		<!-- Left navbar links -->
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
			</li>
			<li class="nav-item d-none d-sm-inline-block">
				<a href="/back" class="nav-link">Home</a>
			</li>
			<li class="nav-item d-none d-sm-inline-block">
				<a href="/home" class="nav-link">Go to Front</a>
			</li>
		</ul>

		<!-- Right navbar links -->
	</nav>
	<!-- /.navbar -->

	<!-- Main Sidebar Container -->
	<aside class="main-sidebar sidebar-dark-primary elevation-4">
		<!-- Brand Logo -->
		<a href="/back" class="brand-link">
			<span class="brand-dark font-weight-center"> Team Ulticom</span>
		</a>

		<!-- Sidebar -->
		<div class="sidebar">
			<!-- Sidebar user (optional) -->
			<div class="user-panel mt-3 pb-3 mb-3 d-flex">
				<div class="image">
					<img src="/img_11.png" class="img-circle elevation-2" alt="User Image">
				</div>
				<div class="info">
					<b>  {{ app.user.nom }}	 {{ app.user.prenom }}		 </b>
				</div>
			</div>

			<!-- SidebarSearch Form -->

			<!-- Sidebar Menu -->
			<nav class="mt-2">
				<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
					<!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
					<li class="nav-item">
						<a href="#" class="nav-link">
							<i class="nav-icon fas fa-tachometer-alt"></i>
							<p>
								Play
								<i class="right fas fa-angle-left"></i>
							</p>
						</a>
						<ul class="nav nav-treeview">

							<li class="nav-item">
								<a href="/admin/jeu" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>jeux</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="/admin/tournois/" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>Tournois</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="/admin/equipe" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>Equipe</p>
								</a>
							</li>



							<li class="nav-item">
								<a href="/admin/category/" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>Categories</p>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a href="/afficheuser" class="nav-link">
							<i class="nav-icon fas fa-th"></i>
							<p>
								Utilisateurs
								<span class="right badge badge-danger">New</span>
							</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/actualite/back" class="nav-link">
							<i class="nav-icon fas fa-copy"></i>
							<p>
								Actualites
								<i class="fas fa-angle-left right"></i>
								<span class="badge badge-info right">2</span>
							</p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a href="/actualite/back" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>Actualites</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="/categorie/back" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>Categories</p>
								</a>
							</li>


						</ul>
					</li>


					<li class="nav-item">
						<a href="/affichereclamation" class="nav-link">
							<i class="nav-icon fas fa-edit"></i>
							<p>
								Reclamations

							</p>
						</a>

					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">
							<i class="nav-icon fas fa-table"></i>
							<p>
								Tables
								<i class="fas fa-angle-left right"></i>
							</p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a href="../tables/simple.html" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>Simple Tables</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="../tables/data.html" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>DataTables</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="../tables/jsgrid.html" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>jsGrid</p>
								</a>
							</li>
						</ul>
					</li>


				</ul>
			</nav>
			<!-- /.sidebar-menu -->
		</div>
		<!-- /.sidebar -->
	</aside>

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">

			<div class="row">
			<div class="fw-divider-space " style="padding-top: 20px;"></div>
				<div class="jumbotron">

				<div class="form-group m-form__group">
					<label>
						Recherche Par Nom
					</label>
					<form class="m-form m-form--fit m-form--label-align-right">
						<input type="text" class="col-3" id="search"  placeholder="Entre nom" >

					</form>
					<br>


					<div class="special-heading text-center">

				<div class="col-sm-12 text-center breadcrumbs_inner">
					<table class="table m-table m-table--head-bg-success">
						<thead>
						<tr>


							<th>
								Id
							</th>
							<th>
								Nom
							</th>
							<th>
								Prenom
							</th>
							<th>

								Adresse	<a href="{{ path('croissant') }}"><img src="{{ asset('img_1.png') }}" height="20" width="20"> </a>

									<a href="{{ path('decroissant') }}"><img src="{{ asset('img.png') }}" height="20" width="20"> </a>
								</th>

							</th>
							<th>
								Email
							</th>
							<th>
								Numero
							</th>
							<th>
								Rôles
							</th>
							<th>
								Imprimer
							</th>
							<th>
								Supprimer
							</th>
							<th>
								Modifier
							</th>

						</tr>
						</thead>

						{% for U in users %}
						<tbody id="all">


						<td>

							{{ U.id }}
						</td>
						<td>
							{{ U.nom }}
						</td>
						<td>
							{{ U.prenom }}
						</td>
						<td>
							{{ U.adresse }}
						</td>
						<td>
							{{ U.email }}
						</td>
						<td>
							{{ U.num }}
						</td>
						<td>
							{# On boucle sur les rôles #}
							{% for role in U.roles %}
								{% if role == "ROLE_USER" %}
									Utilisateur

								{% elseif role == "ROLE_ADMIN" %}
									Administrateur
								{% endif %}
							{% endfor %}
						</td>

						<td>

								<a href="{{ path('pdf1',{'id':U.id}) }}">
									<img src="{{ asset('img_5.png') }}" height="40" width="40">

								</a>


						</td>


						<td>

								<a href="{{ path('d',{'id':U.id}) }}">
									<img src="{{ asset('delete2.png') }}" height="40" width="40">
							Supprimer
								</a>


						</td>

						<td>

								<a href="{{ path('u',{'id':U.id}) }}">	<img src="{{ asset('update2.png') }}" height="40" width="40">
									Modifier
								</a>


						</td>
						{% endfor %}

						</tbody>
						<tbody id="search">
						</tbody>

					</table>


				</div>
					</div>
				</div>
			</div>
	</div>
</div>



{% block js %}



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	</script>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script>
		$( document ).ready(function() {
			$("#search").keyup(function(e){
				/* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
				var value = $(this).val();
				/* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
				$.ajax({
					/* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
					url : "{{ path('SearchUserx') }}",
					/* La méthode utilisée pour transférer les données est GET */
					type : 'GET',
					/*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
					data: {
						'searchValue' : value
					},
					/*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
					success : function(retour){
						if(retour){
							$('tbody#search').empty();
							$.each(JSON.parse(retour), function(i, obj) {
								$('tbody#all').hide();
								$('tbody#search').append('<tr><td>'+obj.id+' </td><td>'+obj.nom+' </td><td>'+obj.prenom+' </td><td>'+obj.adresse+' </td><td>'+obj.email+' </td><td>'+obj.num+'</td><td>'+obj.roles+' </td><td></button><button class="btn btn-danger"><a  href="/pdf1/'+obj.id+'"</a>Imprimer</button></td><td></button><button class="btn btn-danger"><a  href="/user/supp/'+obj.id+'"</a>delete</button></td><td></button><button class="btn btn-danger"><a href="/user/modifier/'+obj.id+'"</a>edit</button></td></tr>');
							});

							}
						else
						{
							$('tbody#all').show();
							$('tbody#search').empty();
							$('tbody#search').fadeIn('fast');
						}
					},
				});
				return false;
			});
		});

	</script>




	<!-- /.content-wrapper -->


	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
		<!-- Control sidebar content goes here -->
	</aside>
	<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/BackTemplate/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/BackTemplate/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/BackTemplate/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/BackTemplate/dist/js/demo.js"></script>
{% endblock %}
</body>
</html>
