
    <h1>Utilisateur : </h1>
    <!--<input type="text" name="find" class="form-horizontal style-forms" name="find"><input type="submit" value="search">-->
  <BR>
      <h4>Nom :    {{ users.nom }}</h4>
     <h4>Prenom:    {{ users.prenom }}</h4>
     <h4>Adresse :   {{ users.adresse }}</h4>
     <h4>Email : {{ users.email }}</h4>
      <h4>Num :   {{ users.num }}</h4>

    <BR>
        <div class="col-12">
            <center><img src="{{ qr_code_data_uri('My QR Code') }}" /> </center>
        </div>










